In [15]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import mpl_toolkits.mplot3d.axes3d
import seaborn as sb

In [18]:
# data = pd.read_csv('flights.csv')
# df = sb.load_dataset('flights')
# df =  df.pivot('month', 'year', 'passengers')
# df = df.sum()
# df = df.to_frame()

# sb.barplot(
#      data=df, x=df.index, y=0, orient='v')
sb.get_dataset_names()

df = sb.load_dataset('mpg')
df

,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year,origin,name
0,18.0,8,307.0,130.0,3504,12.0,70,usa,chevrolet chevelle malibu
1,15.0,8,350.0,165.0,3693,11.5,70,usa,buick skylark 320
2,18.0,8,318.0,150.0,3436,11.0,70,usa,plymouth satellite
3,16.0,8,304.0,150.0,3433,12.0,70,usa,amc rebel sst
4,17.0,8,302.0,140.0,3449,10.5,70,usa,ford torino
...,...,...,...,...,...,...,...,...,...
393,27.0,4,140.0,86.0,2790,15.6,82,usa,ford mustang gl
394,44.0,4,97.0,52.0,2130,24.6,82,europe,vw pickup
395,32.0,4,135.0,84.0,2295,11.6,82,usa,dodge rampage
396,28.0,4,120.0,79.0,2625,18.6,82,usa,ford ranger
397,31.0,4,119.0,82.0,2720,19.4,82,usa,chevy s-10

In [7]:
# data.passengers

0      112
1      118
2      132
3      129
4      121
      ...
139    606
140    508
141    461
142    390
143    432
Name: passengers, Length: 144, dtype: int64

In [19]:
# conda install -c conda-forge folium
import folium

map = folium.Map(
    location = [-6.1753924, 106.8271528],
    zoom_start=17
)

ModuleNotFoundError: No module named 'folium'